<div class="row">
  <div class="col-md-4">
    <div class="fe-sidepanel panel-group affix" id="accordion">

      <div class="fe-elements panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">
              <span class="glyphicon glyphicon-save"></span> Guardar
            </button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" disabled="disabled">
              <span class="caret"></span>
            </button>
          </div>
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              &nbsp;
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-6">
                <div style="font-size: 12px; cursor: move;" draggable connect-to=".foo" ng-model="typeA">
                  <span class="glyphicon glyphicon-bold"></span> Texto
                </div>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-link btn-xs btn-block" style="text-align: left;">
                  <span class="glyphicon glyphicon-text-height"></span> Área de texto
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div style="font-size: 12px; cursor: move;" draggable connect-to=".foo" ng-model="typeB">
                  <span class="glyphicon glyphicon-list"></span> Listado
                </div>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-link btn-xs btn-block" style="text-align: left;">
                  <span class="glyphicon glyphicon-check"></span> Opción múltiple
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-link btn-xs btn-block" style="text-align: left;">
                  <span class="glyphicon glyphicon-record"></span> Opción única
                </button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-link btn-xs btn-block" style="text-align: left;">
                  <span class="glyphicon glyphicon-calendar"></span> Fecha
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-link btn-xs btn-block" style="text-align: left;">
                  <span class="glyphicon glyphicon-credit-card"></span> Módulo
                </button>
              </div>
              <div class="col-md-6">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default" app-properties="selection">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Properties
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="fe-config panel-collapse collapse in">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Texto</label>
                  <input type="text" class="form-control input-sm" ng-model="element.text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Ayuda</label>
                  <input type="text" class="form-control input-sm" ng-model="element.help">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Configuration</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Required
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th width="25%">Value</th>
                      <th width="75%">Text</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="element in element.elements">
                      <td>
                        <input type="text" class="form-control input-sm">
                      </td>
                      <td>
                        <input type="text" class="form-control input-sm" ng-model="element.text">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-8" style="padding-top: 20px;">

    <div app-form ng-model="form"></div>

  </div>
</div>
