<h2 ng-click="select()">{{ngModel.text}}</h2>
<div ng-switch="editable">

  <!-- Editable -->
  <div ng-switch-when="true">
    <div class="alert alert-info text-center stop-sorting">
      <a class="alert-link" ng-click="stopSorting()">I am done sorting</a>
    </div>
    <div sortable handle=".sortable-handle" ng-model="ngModel.elements">
      <div form-element-renderer editable ng-repeat="element in ngModel.elements" ng-model="element"></div>
    </div>
  </div>

  <!-- Not editable -->
  <div ng-switch-default>
    <div form-element-renderer ng-repeat="element in ngModel.elements" ng-model="element"></div>
  </div>

</div>
