<div class="form-group" ng-click="select()">
  <label for="">
    {{ngModel.text}}
    <span class="fa fa-gears has-javascript" title="This element has custom Javascript code." ng-show="ngModel.javascript"></span>
  </label>
  <div class="{{ngModel.type}}" ng-repeat="element in ngModel.elements" ng-switch="ngModel.type">
    <label ng-switch-when="checkbox">
      <input type="checkbox" name="{{ngModel.name}}" value="{{element.name}}" ng-checked="ngModel.value.indexOf(element.name) > -1" ng-click="check(element.name)" ng-disabled="readonly"> {{element.text}}
    </label>
    <label ng-switch-default>
      <input type="{{ngModel.type}}" name="{{ngModel.name}}" value="{{element.name}}" ng-model="ngModel.value" ng-disabled="readonly"> {{element.text}}
    </label>
  </div>
</div>
