<div class="panel panel-default">
  <div class="panel-heading sortable-handle">
    <h4 class="panel-title" ng-click="select()">{{ngModel.text}}</h4>
  </div>
  <div class="panel-body" ng-switch="editable">

    <!-- Editable -->
    <div class="row" ng-switch-when="true">
    </div>

    <!-- Not editable -->
    <div class="row" ng-switch-default>

      <!--
      <a class="btn btn-primary" ui-sref="view.nestedNew({nestedFormId: ngModel.id})">
        <span class="glyphicon glyphicon-plus"></span> New
      </a>
      -->

      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-repeat="element in ngModel.elements">{{element.text}}</th>
            <th>
              <a class="btn btn-primary btn-xs" ui-sref="view.nestedNew({nestedFormId: ngModel.id})">
                <span class="glyphicon glyphicon-plus"></span> New
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in ngModel.value">
            <td ng-repeat="element in ngModel.elements">{{row[element.name]}}</td>
            <td>
              <a class="btn btn-default btn-xs" ui-sref="view.nested({nestedFormId: ngModel.id, row: $index})">
                Details
              </a>
              <button class="btn btn-link btn-xs">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
