<div class="panel panel-default">
  <div class="panel-heading sortable-handle">
    <h4 class="panel-title" ng-click="select()">
      {{ngModel.text}}
      <span class="fa fa-gears has-javascript" title="This element has custom Javascript code." ng-show="ngModel.javascript"></span>
    </h4>
  </div>
  <div class="panel-body" ng-switch="editable">

    <!-- Editable -->
    <div ng-switch-when="true">
      <div sortable connect-to=".form-element .ui-sortable" ng-model="ngModel.elements">
        <div form-element-renderer editable ng-repeat="element in ngModel.elements" ng-model="element"></div>
      </div>
    </div>

    <!-- Not editable -->
    <div ng-switch-default>
      <div form-element-renderer ng-repeat="element in ngModel.elements" ng-model="element" ng-readonly="$parent.readonly"></div>
    </div>

  </div>
</div>
