<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" ng-click="select()">{{ngModel.text}}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="{{ngModel.columnClass()}} foo" sortable connect-to=".foo" ng-model="ngModel.elements" ng-repeat="i in range(ngModel.columns) track by $index" offset="{{(ngModel.elements | inColumn:$index+1:'<').length}}">
        <div form-element ng-repeat="element in ngModel.elements | inColumn:$index+1" ng-model="element"></div>
      </div>
    </div>
  </div>
</div>
