.fe-sidepanel {
  top: 20px;
  width: 360px;

  .btn-sm {
    padding-top: 3px;
    padding-bottom: 3px,
  }

  .glyphicon {
    top: 2px;
    left: -1px;
  }
}

.fe-elements {
  .panel-heading .btn-group {
    position: relative;
    top: -4px;
  }

  .panel-body button {
    cursor: move;

    &:hover {
      text-decoration: none;
    }
  }
}

.fe-properties {
  label {
    font-size: 13px;
  }

  select.input-sm {
    padding: 0 5px;
  }

  .input-sm {
    padding: 5px;
    height: 24px;
  }

  .checkbox {
    margin-top: 0;

    label {
      font-size: 12px;
    }
  }
}

.form-element-fieldset {
  .row {
    overflow: hidden;
  }

  /**
   * This "hack" should expand each column to 100% height, that way an element
   * can be dropped anywhere.
   */
  .sortable-form-element {
    margin-bottom: -999999px;
    padding-bottom: 999999px;
  }
}
